@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root{
    --primary-color: #06b6d4;
    --secondary-color: #cffafe;

}
body{
    font-family: 'Lato', sans-serif;
}
hr{
    margin: 10px 10px;
}

.container{
   
    padding:0px 0rem 2px 5px
}

.container-center{
    margin: auto;
    max-width: 600px;
}

.primary-link{
    color: var(--secondary-color) ;
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 3px 0.5rem;
    border-radius: 0.5rem;

}

.secondary-link{
 color: var(--primary-color) ;
 text-decoration: none;
 padding: 0rem 0.5rem;
}